<section class="container-fluid">
    <div class="container box-shadow">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="container">
                    <div class="row">
                        <carousel class="home-carousel w-100" [isAnimated]="true">
                            <slide>
                                <img src="assets/images/aviao.jpg" alt="first slide">
                            </slide>
                            <slide>
                                <img src="assets/images/maragogi.jpg" alt="second slide">
                            </slide>
                            <slide>
                                <img src="assets/images/cristo.jpg" alt="third slide">
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-4">
                <div class="border-gray p-2">
                    <div class="col-md-12">
                        <p class="title">
                            <strong>Remarcação e reembolso</strong>
                        </p>
                        <p>
                            Entenda todas as mudanças nas regras de remarcação, cancelamento e reembolso devido ao coronavírus.
                        </p>
                        <a class="preto" role="button">Remarque aqui</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border-gray p-2">
                    <div class="col-md-12">
                        <p class="title">
                            <strong>Precisa cancelar seu voo?</strong>
                        </p>
                        <p>
                            Você tem a opção de escolher o reembolso ou manter o valor em crédito para usar futuramente.
                        </p>
                        <a class="preto" role="button">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="border-gray p-2">
                    <div class="col-md-12">
                        <p class="title">
                            <strong>Faça seu check-in online</strong>
                        </p>
                        <p style="min-height: 57px;">
                            Assim, você evita filas e aglomerações no aeroporto e preserva a sua saúde.
                        </p>
                        <a class="preto" role="button">Fazer check-in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>