<footer id="footer" class="cor-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center mb-0 texto-footer">Union Airlines</p>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center texto-footer mb-0"> Versão da build: 1.0.0</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>